{{>layout/header}}
{{>layout/nav}}

<!--
    <div class="col-md-12">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            Logged in as: <span id="user"></span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
        </div>
    </div>
-->

{{>layout/footer}}