<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" >
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
    <title>로그인</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/login/signin.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">


</head>
<body>


<main class="form-signin w-100 m-auto">
    <form>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="id">
            <!--<label for="floatingInput">Email address</label>-->
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <!--<label for="floatingPassword">Password</label>-->
        </div>
        <a href="/login/findPasswordPage" class="nav-link px-2 link-secondary">forget password?</a>

        <!--<div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>-->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>

    <div class="mt-4">
        <button class="w-100 btn btn-secondary" onclick="location.href='/login/registerPage'">Easy Register</button>
    </div>

</main>


<!--index.js 추가-->
<!--<script src="/js/app/index.js"></script>-->


</body>
</html>